@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";
}

@using System.Web.Optimization
@model eUseControl.Web.Models.UserData

<!doctype html>
<html class="no-js" lang="zxx">

<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Proiect TWeb</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="~/Content/images/favicon.png">
    <link rel="stylesheet" href="~/Content/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/css/fontawesome-stars.css">
    <link rel="stylesheet" href="~/Content/css/meanmenu.css">
    <link rel="stylesheet" href="~/Content/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/css/slick.css">
    <link rel="stylesheet" href="~/Content/css/animate.css">
    <link rel="stylesheet" href="~/Content/css/jquery-ui.min.css">
    <link rel="stylesheet" href="~/Content/css/venobox.css">
    <link rel="stylesheet" href="~/Content/css/nice-select.css">
    <link rel="stylesheet" href="~/Content/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/helper.css">
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="~/Content/css/responsive.css">

    <script src="js/vendor/modernizr-2.8.3.min.js"></script>

</head>
<body>
    <!-- Begin Body Wrapper -->
    <div class="body-wrapper">
        <!-- Begin Header Area -->
        <header class="li-header-4">
            <!-- Begin Header Top Area -->
            <div class="header-top">
                <div class="container">
                    <div class="row">
                        <!-- Begin Header Top Left Area -->
                        <div class="col-lg-3 col-md-4">
                            <div class="header-top-left">
                                <ul class="phone-wrap">
                                    <li><span>Nr. de contact: (+373) 00 00 00 00</span></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Header Top Left Area End Here -->
                        <!-- Begin Header Top Right Area -->
                        <div class="col-lg-9 col-md-8">
                            <div class="header-top-right">
                                <ul class="ht-menu">
                                    <!-- Begin Setting Area -->
                                    <li>
                                        <div class="ht-setting-trigger"><span>Setări</span></div>
                                        <div class="setting ht-setting">
                                            <ul class="ht-setting-list">
                                                <li><a href="LoginPage">Logare/Registrare</a></li>
                                                <li><a href="">Contul meu</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <!-- Setting Area End Here -->
                                </ul>
                            </div>
                        </div>
                        <!-- Header Top Right Area End Here -->
                    </div>
                </div>
            </div>
            <!-- Header Top Area End Here -->
            <!-- Begin Header Middle Area -->
            <div class="header-middle pl-sm-0 pr-sm-0 pl-xs-0 pr-xs-0">
                <div class="container">
                    <div class="row">
                        <!-- Begin Header Logo Area -->
                        <div class="col-lg-3">
                            <div class="logo pb-sm-30 pb-xs-30">
                                    <img src="~/Content/images/menu/logo/2.jpg" alt="">
                            </div>
                        </div>
                        <!-- Header Logo Area End Here -->
                        <!-- Begin Header Middle Right Area -->
                        <div class="col-lg-9 pl-0 ml-sm-15 ml-xs-15">
                            <!-- Begin Header Middle Searchbox Area -->
                            <form action="#" class="hm-searchbox">
                                <select class="nice-select select-search-category">
                                    <option value="0">All</option>
                                    <option value="1">Jocuri Playstation</option>
                                    <option value="2">Jocuri Xbox</option>
                                    <option value="3">Jocuri PC</option>
                                    <option value="4">Consoale</option>
                                    <option value="5">Accesorii</option>
                                    <option value="6">Colecții</option>
                                </select>
                                <input type="text" placeholder="Scrie aici ...">
                                <button class="li-btn" type="submit"><i class="fa fa-search"></i></button>
                            </form>
                            <!-- Header Middle Searchbox Area End Here -->
                            <!-- Begin Header Middle Right Area -->
                            <div class="header-middle-right">
                                <ul class="hm-menu">
                                    <!-- Begin Header Mini Cart Area -->
                                    <li class="hm-minicart">
                                        <div class="hm-minicart-trigger">
                                            <span class="item-icon"></span>
                                            <span class="item-text">
                                                MDL 0.00
                                                <span class="cart-item-count">0</span>
                                            </span>
                                        </div>
                                        <span></span>
                                        <div class="minicart">
                                            <ul class="minicart-product-list">
                                            </ul>
                                            <p class="minicart-total">SUBTOTAL: <span>MDL 0.00</span></p>
                                            <div class="minicart-button">
                                                <a href="" class="li-button li-button-dark li-button-fullwidth li-button-sm">
                                                    <span>View Full Cart</span>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <!-- Header Mini Cart Area End Here -->
                                </ul>
                            </div>
                            <!-- Header Middle Right Area End Here -->
                        </div>
                        <!-- Header Middle Right Area End Here -->
                    </div>
                </div>
            </div>
            <!-- Header Middle Area End Here -->
            <!-- Begin Header Bottom Area -->
            <div class="header-bottom header-sticky stick d-none d-lg-block d-xl-block">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- Begin Header Bottom Menu Area -->
                            <div class="hb-menu">
                                <nav>
                                    <ul>
                                        <li class="dropdown-holder">
                                            <a href="">Home</a>
                                        </li>
                                        <li class="megamenu-holder">
                                            <a href="">Shop</a>
                                            <ul class="megamenu hb-megamenu">
                                                <li>
                                                    <a href="">Jocuri</a>
                                                    <ul>
                                                        <li><a href="">Playstation</a></li>
                                                        <li><a href="">Xbox</a></li>
                                                        <li><a href="">Nintendo</a></li>
                                                        <li><a href="">PC</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="">Consoale</a>
                                                    <ul>
                                                        <li><a href="">Playstation</a></li>
                                                        <li><a href="">Xbox</a></li>
                                                        <li><a href="">Nintendo</a></li>
                                                        <li><a href="">Steam Deck</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="">Accesorii</a>
                                                    <ul>
                                                        <li><a href="">Playstation</a></li>
                                                        <li><a href="">Xbox</a></li>
                                                        <li><a href="">Nintendo</a></li>
                                                        <li><a href="">PC</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="">About Us</a></li>

                                    </ul>
                                </nav>
                            </div>
                            <!-- Header Bottom Menu Area End Here -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header Bottom Area End Here -->
            <!-- Begin Mobile Menu Area -->
            <div class="mobile-menu-area mobile-menu-area-4 d-lg-none d-xl-none col-12">
                <div class="container">
                    <div class="row">
                        <div class="mobile-menu">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mobile Menu Area End Here -->
        </header>
        <!-- Header Area End Here -->
    </div>











    <!-- Begin Footer Area -->
    <div class="footer">
        <!-- Begin Footer Static Top Area -->
        <div class="footer-static-top">
            <div class="container">
                <!-- Begin Footer Shipping Area -->
                <div class="footer-shipping pt-60 pb-25">
                    <div class="row">
                        <!-- Free delivery -->
                        <div class="col-lg-3 col-md-6 col-sm-6 pb-sm-55 pb-xs-55">
                            <div class="li-shipping-inner-box">
                                <div class="shipping-icon">
                                    <img src="~/Content/images/shipping-icon/1.png" alt="Shipping Icon">
                                </div>
                                <div class="shipping-text">
                                    <h2>Free Delivery</h2>
                                </div>
                            </div>
                        </div>
                        <!-- Safe payment -->
                        <div class="col-lg-3 col-md-6 col-sm-6 pb-sm-55 pb-xs-55">
                            <div class="li-shipping-inner-box">
                                <div class="shipping-icon">
                                    <img src="~/Content/images/shipping-icon/2.png" alt="Shipping Icon">
                                </div>
                                <div class="shipping-text">
                                    <h2>Safe Payment</h2>
                                </div>
                            </div>
                        </div>
                        <!-- Shop with confidence -->
                        <div class="col-lg-3 col-md-6 col-sm-6 pb-xs-30">
                            <div class="li-shipping-inner-box">
                                <div class="shipping-icon">
                                    <img src="~/Content/images/shipping-icon/3.png" alt="Shipping Icon">
                                </div>
                                <div class="shipping-text">
                                    <h2>Shop with Confidence</h2>
                                </div>
                            </div>
                        </div>
                        <!-- Best prices-->
                        <div class="col-lg-3 col-md-6 col-sm-6 pb-xs-30">
                            <div class="li-shipping-inner-box">
                                <div class="shipping-icon">
                                    <img src="~/Content/images/shipping-icon/4.png" alt="Shipping Icon">
                                </div>
                                <div class="shipping-text">
                                    <h2>Best Prices</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer Shipping Area End Here -->
            </div>
        </div>
        <!-- Footer Static Top Area End Here -->
        <!-- Begin Footer Static Middle Area -->
        <div class="footer-static-middle">
            <div class="container">
                <div class="footer-logo-wrap pt-50 pb-35">
                    <div class="row">
                        <!-- Begin Footer Logo Area -->
                        <div class="col-lg-4 col-md-6">
                            <div class="footer-logo">
                                <img src="~/Content/images/menu/logo/1.jpg" alt="Footer Logo">
                                <p class="info">
                                    The best store for purchasing video games and latest generation consoles.
                                </p>
                            </div>
                            <ul class="des">
                                <li>
                                    <span>Address: </span>
                                    Moldova, Chisinau, st. Bolgarskaya 9, of. 5
                                </li>
                                <li>
                                    <span>Phone: (+8) 800 555 35 35</span>
                                </li>
                                <li>
                                    <span>Email: </span>
                                    limupa.official@gmail.com
                                </li>
                            </ul>
                        </div>
                        <!-- Footer Logo Area End Here -->
                        <!-- Begin Footer Block Area -->
                        <div class="col-lg-2 col-md-3 col-sm-6">
                            <div class="footer-block">
                                <h3 class="footer-block-title">Our company</h3>
                                <ul>
                                    <li><a href="#">Delivery</a></li>
                                    <li><a href="#">Legal Notice</a></li>
                                    <li><a href="#">About us</a></li>
                                    <li><a href="#">Contact us</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Footer Block Area End Here -->
                        <!-- Begin Footer Block Area -->
                        <div class="col-lg-4">
                            <div class="footer-block">
                                <h3 class="footer-block-title">Follow Us</h3>
                                <ul class="social-link">
                                    <li class="twitter">
                                        <a href="https://twitter.com/" data-toggle="tooltip" target="_blank" title="Twitter">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="facebook">
                                        <a href="https://www.facebook.com/" data-toggle="tooltip" target="_blank" title="Facebook">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="youtube">
                                        <a href="https://www.youtube.com/" data-toggle="tooltip" target="_blank" title="Youtube">
                                            <i class="fa fa-youtube"></i>
                                        </a>
                                    </li>
                                    <li class="instagram">
                                        <a href="https://www.instagram.com/" data-toggle="tooltip" target="_blank" title="Instagram">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Footer Block Area End Here -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Static Middle Area End Here -->
    </div>
    <!-- Footer Area End Here -->
    <!-- jQuery-V1.12.4 -->
    <script src="~/Content/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- Popper js -->
    <script src="~/Content/js/vendor/popper.min.js"></script>
    <!-- Bootstrap V4.1.3 Fremwork js -->
    <script src="~/Content/js/bootstrap.min.js"></script>
    <!-- Ajax Mail js -->
    <script src="~/Content/js/ajax-mail.js"></script>
    <!-- Meanmenu js -->
    <script src="~/Content/js/jquery.meanmenu.min.js"></script>
    <!-- Wow.min js -->
    <script src="~/Content/js/wow.min.js"></script>
    <!-- Slick Carousel js -->
    <script src="~/Content/js/slick.min.js"></script>
    <!-- Owl Carousel-2 js -->
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <!-- Magnific popup js -->
    <script src="~/Content/js/jquery.magnific-popup.min.js"></script>
    <!-- Isotope js -->
    <script src="~/Content/js/isotope.pkgd.min.js"></script>
    <!-- Imagesloaded js -->
    <script src="~/Content/js/imagesloaded.pkgd.min.js"></script>
    <!-- Mixitup js -->
    <script src="~/Content/js/jquery.mixitup.min.js"></script>
    <!-- Countdown -->
    <script src="~/Content/js/jquery.countdown.min.js"></script>
    <!-- Counterup -->
    <script src="~/Content/js/jquery.counterup.min.js"></script>
    <!-- Waypoints -->
    <script src="~/Content/js/waypoints.min.js"></script>
    <!-- Barrating -->
    <script src="~/Content/js/jquery.barrating.min.js"></script>
    <!-- Jquery-ui -->
    <script src="~/Content/js/jquery-ui.min.js"></script>
    <!-- Venobox -->
    <script src="~/Content/js/venobox.min.js"></script>
    <!-- Nice Select js -->
    <script src="~/Content/js/jquery.nice-select.min.js"></script>
    <!-- ScrollUp js -->
    <script src="~/Content/js/scrollUp.min.js"></script>
    <!-- Main/Activator js -->
    <script src="~/Content/js/main.js"></script>
</body>
</html>
