@{
    ViewBag.Title = "LogIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Web.Optimization
@model dynamic

<main>
    <section class="login-section">
        <div class="login-container">
            @using (Html.BeginForm("LogInUser", "Login", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <label for="Email">Email</label>
                    <input type="text" id="Email" name="Email" required />
                </div>
                <div class="form-group">
                    <label for="Password">Password</label>
                    <input type="password" id="Password" name="Password" required />
                </div>
                <div class="form-group submit-container">
                    <button type="submit">Login</button>
                </div>
            }
        </div>
    </section>
</main>

<!--Script for validation-->
@section Scripts {
    @Scripts.Render("~/bundles/validation/js")

    <script type="text/javascript">
        function validateForm() {
            var email = document.getElementById('Email').value;
            var password = document.getElementById('Password').value;

            if (email.trim() === '' || password.trim() === '') {
                alert('Please enter both email and password.');
            } else {
                document.getElementById('LoginForm').submit();
            }
        }
    </script>
}
