@{
    ViewBag.Title = "Thank You";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mulțumim pentru comanda dumneavoastră!</h2>
<p>Comanda dvs. a fost procesată cu succes. Vă așteptăm la magazinul nostru!</p>
